@font-face {
  font-family: Nunito;
  src: url(./Nunito-Regular.ttf);
}

:root {
  --page-bg: #000000;
  --container-bg: #1f1f1f;
  --subcontainer-bg: #d6d6d619;

  --text-primary: #d6d6d6;
  --text-secondary: #848484;
  --text-header: #ffffff;

  --accent-color: #000000;

  --toggler-bg: #e9e9e9;
  --toggler-border: #a6a6a6;
  --toggler-badge: #0000008a;
  --toggler-badge-border: #000000;

  --light-grey: #d6d6d6;
  --orange: #e0621b;
  --red: #e01b1b;
  --peach: #ffd166;
}

:root.light-theme {
  --page-bg: #e9e9e9;
  --container-bg: #ffffff;
  --subcontainer-bg: #d6d6d657;

  --text-primary: #717171;
  --text-secondary: #848484;
  --text-header: #222222;

  --accent-color: #ffd166;

  /* --toggler-bg: #e9e9e9;
  --toggler-border: #d6d6d6; */
  --toggler-badge: #ffd1668a;
  --toggler-badge-border: #ffd166;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: Nunito, Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
  color: unset;
}

body {
  display: flex;
  place-items: center;
  background-color: var(--page-bg);
}